.main-container {
  display: grid; 
  min-height: 100vh;
  width: 100%;
  grid-template-columns: 1fr; 
  grid-template-rows: auto 1fr auto; 
  gap: 0px 0px; 
  grid-template-areas: 
    "menu"
    "main-body"
    "footer"; 
}
.menu 
{ 
  grid-area: menu;
  font-family: 'Source Code Pro';
}
.footer 
{ 
  grid-area: footer;
  font-family: 'Source Code Pro';

}
.main-body 
{ 
  grid-area: main-body;
  font-family: 'Source Code Pro';

}